*.o
*.d
*.a
ircserv
bircd
*.swp
.vscode
openssl-1.1.1h/
openssl/
conf/ircserv.key
conf/ircserv.crt
objs/
client/client
bot/ircbot
vgcore*
client/moc_chatwindow.cpp
client/moc_mainwindow.cpp
client/moc_predefs.h
client/moc_sendfile.cpp
client/ui_chatwindow.h
client/ui_mainwindow.h
